.form-container {
  width: 100%;
  margin-bottom: 20px;
  border-radius: var(--base-border-radius);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
}

.form-box {
  display: flex;
  justify-content: space-evenly;
}

.form-box .input-text {
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: var(--base-border-radius);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
}

.input-submit {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
}
.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.btn-plus {
  color: darkcyan;
  font-size: 20px;
}

.spinner {
  display: flex;
  align-self: center;
  font-size: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-trash {
  color: orangered;
  font-size: 16px;
}

.btn-plus:hover,
.btn-trash:hover {
  opacity: 0.5;
}

.empty-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 0.75rem;
  color: var(--gray-50);
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
}

.item {
  padding: 17px 1.5rem;
  border-bottom: 1px solid var(--gray-100);
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  list-style-type: none;
}
.item:hover {
  background-color: var(--gray-100);
  opacity: 0.85;
}

.item-option {
  float: right;
}

.item-option button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dropdown-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  border: 1px solid #dedede;
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.05),
    0px 2px 4px rgba(50, 50, 50, 0.1);
  border-radius: 10px;
}

.dropdown-box {
  width: 96%;
  height: 90%;
  margin: 10px;
  overflow: overlay;
  background-color: white;
}

.dropdown-box::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.dropdown-box::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.dropdown-loading {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  height: 10px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  width: 95%;
  height: 35px;
  padding: 15px 10px;
  margin: 5px 0;
  list-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-item p {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-item:hover {
  background: #f2f2f2;
}

.dropdown-item:active {
  background-color: #d5f4f1;
}

.active_colored {
  color: #2bc9ba;
}
