.header {
  padding: 20px 0;
  line-height: 1.5em;
}

.header_title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--gray-50);
  font-size: 6rem;
  font-weight: 600;
  line-height: 1em;
}
